# Supabase Public Keys
NEXT_PUBLIC_SUPABASE_URL=https://yptcooumbbqjgfvdbasi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwdGNvb3VtYmJxamdmdmRiYXNpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA4MTE1MjUsImV4cCI6MjA5NjM4NzUyNX0.ibT2GSiv_M21Rar0bTEwwgLcU32kBFZdEGG6XoCaDhU
